In [14]:
students = [
    {"name":"윤인성","korean":97,"math":99,"english":88,"science":96},
    {"name":"연하진","korean":91,"math":92,"english":83,"science":94},
    {"name":"나선주","korean":98,"math":97,"english":86,"science":95},
    {"name":"구지연","korean":92,"math":93,"english":84,"science":95},
    {"name":"윤아린","korean":87,"math":89,"english":98,"science":86},
    {"name":"윤명월","korean":91,"math":92,"english":84,"science":95}
]

print("이름","총점","평균",sep="\t")

for i in students:
    score_sum = i["korean"]+i["math"]+i["english"]+i["science"]
    score_avg = score_sum/4
    print(i["name"],score_sum,score_avg,sep="\t")

print(len(students))

이름	총점	평균
윤인성	380	95.0
연하진	360	90.0
나선주	376	94.0
구지연	364	91.0
윤아린	360	90.0
윤명월	362	90.5
6

In [17]:
def create_student(name, korean, math, english, science):
    return {
        "name":name,
        "korean": korean,
        "math":math,
        "english": english,
        "science": science
    }


def student_get_sum(student):
    return student["korean"]+student["math"]+student["english"]+student["science"]


def student_get_average(student):
    return student_get_sum(student)/4


def student_to_string(student):
    return "{}\t{}\t{}".format(
        student["name"],
        student_get_sum(student),
        student_get_average(student)
    )


students = [
    create_student("윤인성", 98,88,66,88),
    create_student("연하진", 98,88,66,88),
    create_student("구지연", 98,88,66,88),
    create_student("윤아린", 98,88,66,88),
    create_student("윤명월", 98,88,66,88),
    create_student("나선주", 98,88,66,88)
]
print("이름","총점","평균",sep="\t")



for student in students:
    
    print(student_to_string(student))

이름	총점	평균
윤인성	340	85.0
연하진	340	85.0
구지연	340	85.0
윤아린	340	85.0
윤명월	340	85.0
나선주	340	85.0